
<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
       <input [(ngModel)]="serchVal"
       type="text" class="form-control" placeholder="Search....">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <select  [(ngModel)]="searchField" (change)="onSearchFieldChange()" class="form-control" >
          <option value="name">Selected By Name</option>
          <option value="team">Selected By Team</option>
          <option value="odiRuns">Selected By odiRuns</option>
          <option value="testRuns">Selected By testRun</option>
          <option value="yearDebut">Selected By yearDebut</option>
        </select>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
        <table class="table bordered bg-white">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Name</th>
              <th>Team</th>
              <th>Odi Runs</th>
              <th>Test Runs</th>
              <th>Year Debute</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let play of playersArr | playerPipe:serchVal:searchField; let i=index">
              <td>{{i+1}}</td>
              <td>{{play.name}}</td>
              <td>{{play.team}}</td>
              <td>{{play.odiRuns}}</td>
              <td>{{play.testRuns}}</td>
              <td>{{play.yearDebut}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>